<style>
    body {
        background: <%= @color %>;
    }
</style>
<h1>Welcome#about</h1>
    <p><%= link_to "Blue", about_path(color:"blue"), class: "btn btn-primary" %></p>
    <p>My favorite color is <%= @color %></p>
<% if @shoe_size > 12 %>
    <p>WOW YO SHIT IS HUGE</p></p>
<% else %>
    <p>Your shoe size is <%= @shoe_size %></p>
<% end %>