<h1>Welcome to the site!</h1>
<p>Travel bargains soon to follow..</p>

<h2>My homestate is <%= @homestate %>!</h2>
<ul>
    <% @countries.each do |country| %>
    <li><%= country %><br>
    <%= image_tag country, alt: "Country Flag", class: "flag" %></li>
    <% end %>
</ul>

<% @images.each do |image| %>
<%= image_tag image, width: "200px" %>
<% end %>
